/* CSS */

.App {
  /* text-align: center; */
  margin: 0 auto;
}

.img_container {
  width: 70%;
  overflow-x: scroll;
  /* justify-content: center; */
  display: flex;
}

.img {
  width: 350px;
}

/* each info for shoes */
.infoCard {
  width: 200px;
  flex-wrap: wrap;
  padding-left: 8px;
  padding-top: 6px;
  margin: 0 8px;
  border: 1px solid black;
  transition: all 0.6s ease 0s;
  /* overflow-y: scroll; */
  /* display: flex; */
}

.infoCard:hover {
  background: rgb(252, 212, 226);
  opacity: 0.8;
  transform: translateY(+0.18em);
}

.main_container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 85px;
}

h1 {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 50px;
  font-weight: lighter;
  margin-left: 20px;
}

.name {
  color: palevioletred;
  font-size: 12px;
}

.listContainer {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  margin-top: 40px;
  position: relative;
  top: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-bottom: 1px solid gray;
  width: 100%;
}
